
.btn  {	
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #fff;
}

.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;	   
  color:#fff;
  min-height:700px;
  margin-top:20px;
  margin-bottom:8px;
  overflow: hidden;
}

